<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact Us</title>
    <link rel="stylesheet" href="/public/assets/css/Common.css">
    <link rel="stylesheet" href="/public/assets/css/Contact.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Gwendolyn:wght@400;700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <div class="nav-bar-logo-container">
            <img src="/public/assets/images/logo.png" alt="Blissful Beginnings Logo" class="nav-bar-logo">
        </div>
        <div class="top-right">
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/about">About Us</a></li>
                <li><a href="/services">Services</a></li>
                <li><a href="/contact" class="active">Contact Us</a></li>
                <li><a href="http://vendors.blissfulbeginnings.local/register">Join our Network</a></li>
                <li><a href="/register" class="top-right-button">Sign Up</a></li>
                <li><a href="/signin" class="top-right-button">Log in</a></li>
            </ul>
        </div>
    </header>

    <section class="hero">
        <h1>Dream weddings</h1>
        <p>Flawlessly Planned</p>
    </section>

    <section class="contact-info">
        <h2>Contact Us</h2>
        <div class="contact-cards">
            <div class="card">
                <img src="/public/assets/images/vision_5666467 1.png" alt="Visit Us Icon">
                <h3>Visit Us</h3>
                <p>No.07, Deans road, Colombo 07</p>
            </div>
            <div class="card">
                <img src="/public/assets/images/call.png" alt="Call Us Icon">
                <h3>Call Us</h3>
                <p>+94 70 780 9075</p>
            </div>
            <div class="card">
                <img src="/public/assets/images/sms.png" alt="Email Us Icon">
                <h3>Contact Us</h3>
                <p>blissfulbeginnings@gmail.com</p>
            </div>
        </div>
    </section>
</body>
</html>
