
aside {
    display: flex;
    flex-direction: column;
    top: 0;
    padding: 0px 10px;
    background-color: var(--header-background-color);
    flex-basis: 350px;
    flex-grow: 0;
    flex-shrink: 1;
   
}


.chat-all-area {
    height: 100%;
}

.text-field {
    display: flex;
    margin: 8px 0px;
    width: 100%;
    height: 5%;
    border-radius: 10px;
}

.chat-show-area {
    height: 90%;
    overflow-y: auto;
    border-radius: 16px;
    background-color: var(--primary-white-color);
    padding: 10px;

}


.chat-action-area {
    height: 7%;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    gap:10px;
    align-items: center;
    border-radius: 20px;
    margin: 0.5em 0rem 1em 0rem;
    background-color: var(--primary-white-color);
}

.image-upload-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.upload-image-icon {
    margin: 5% 0.5em 1% 0.5em;
    width: 1.5em;
    height: auto;
}

.chat-type-area{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    flex-grow: 1;
}

.chat-type-field {
    height: 100%;
    width: 90%;
    border: none;
    border-radius: 10px;
}

.chat-type-field:focus {
    outline: none;
    border:none;
}

.send-button-area{
    display: flex;
    justify-content: center;
    align-items: center;
}

.send-button-icon {
    margin: 5% 0.5em 1% 0.5em;
    width: 1.5em;
    height: auto;
}

.chat-send-button:hover {
    background-color: var(--primary-color);
}

.message-text {
    display: inline;
}

.message {
    display: block;
    margin-bottom: 10px;
}


.message.bot {
    color: #333;
}

.message.user {
    color: #007bff;
}

.message-sender {
    font-weight: bold;
    margin-right: 8px;
}

.message-text {
    display: inline;
}

.sender {
    font-weight: bold;
}

.chat-image {
    max-width: 200px;
    border-radius: 8px;
    margin: 5px 0 10px 10px;
}